<!-- Views/Produto/Detalhes.cshtml -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Detalhes - Produto</title>
</head>
<body>
    <h1>Produtos</h1>
    <!-- <p>@ViewData["Message"]</p> -->

    <p>
        Lista de produtos <br />

         <ul>
           @foreach (var produto in ViewBag.produtosView)
           {
                <li>
                    @produto.Nome por apenas R$ @produto.Preco <a href="/api/produto/editar-produto/@produto.Id"> Editar </a>
                </li>
           }
        </ul>
    </p>

    <p>
        Ou, se desejar, você pode <a href="/api/produto/novo-produto"> Adicionar novos produtos </a>
    </p>
</body>
</html>
