<!-- Views/Produto/Detalhes.cshtml -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Detalhes - Produto</title>
</head>
<body>
    <h1>Produtos</h1>
    <!-- <p>@ViewData["Message"]</p> -->

    <p>
         Lista de produtos <br />

       @foreach (var produto in ViewBag.produtosView)
       {
            <li>
                @produto.Nome por apenas R$ @produto.Preco
            </li>
       }

    </p>
</body>
</html>
