<!-- Views/Produto/Detalhes.cshtml -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Detalhes - Produto</title>
</head>
<body>
    <h1>Detalhes do Produto</h1>
    <p>@ViewData["Message"]</p>
</body>
</html>
