
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Produto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Editar Produto</h2>

        <p> O seu produto foi editado com sucesso. </p>

        <p>
            <a href="/api/produto/todos-web" class="btn btn-secondary">Ver todos produtos novamente </a>
        </p>
            

        <br /><br />
        
        
    </div>

</body>
</html>
