<!-- Views/Produto/Index.cshtml -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Index - Produto</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <p>Aqui você pode listar os produtos.</p>
</body>
</html>
